html,body{
	margin:0;
	padding:0;
}

body{
	font: 76% arial,sans-serif;
	text-align:left;
}

p{
	margin:0 10px 10px
}

a{
	display:block;
	color: #981793;
	padding:10px;
	text-decoration: none;
}

#header-wrapper{
	height:180px;
	background-color: #EEE;
  	color: #79B30B;
 }

 #header-wrapper-navigasi-atas{
 	height:30px;
	width:1100px;
	margin:0 auto;
	padding:0;
	border:none;
 }

#header-navigasi-atas{
	background-color:#6D79DE;
	height:30px;
	margin:0;
}

#header-navigasi-atas span{
	font-family: tahoma;
	font-size: 20px;
	color:white;
}

#akun-input{
	margin:0;
	float:right;
	display:inline;
	width:420px;
	height:30px;

}

#username-admin ul{
	padding:4px 2px 0px 0px;
}

#username-admin ul{
	float:right;
	margin:0;
}

#username-admin li{
	margin: 0px 5px 0px 5px;
	font-family: tahoma;
	font-size: 15px;
	color:white;
	display:inline;
}

#menu-navigasi-atas{

}

#header-konten{
	height:110px;
	width:1100px;
	margin:0 auto;
	padding:0;
	background-color: #F8D9F9;
}

#header-konten input{
	margin:30px 0px 0px 0px;	
	float:left;
	width:300px;
	height:30px;
	font-family:tahoma;
	font-size:20px;
	color:#DDDDDD;
}

#header-konten img{
	margin:30px 0px 0px 0px;
	height:35px;
	width:35px;
	display:inline;
	position: fixed;
}

#header-konten-logo{
	height:80px;
	width:250px;
	float:left;
	margin:10px 20px 10px 20px;
	background-color: #F1EF8B;
}

#header-navigasi-icon-wrapper{
	height:80px;
	width:318px;
	float:right;
	border:1px solid grey;
	display:block;
	margin:15px 20px 10px 20px;
}

#container{
	text-align:left;
	background-color:#D5F3CF ;
	width:100%;
	min-height:500px;
	margin:0;
}

#navigasi-kiri{
	float:left;
	width:20%;
	min-height:500px;
	background:#B9CAFF;
}


#konten p{
	line-height:1.4
}

#konten{
	float:left;
	width:80%;
	min-height:500px;
	background-color:#FED6D6;
	display:block;
}

#footer p{
	margin:0;
	padding:5px 10px
}

#footer{
	clear:both;
	width:100%;
	background: #333;
	color: #FFF;
	min-height:200px;
}



